@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body{
    font-family: 'Exo 2', sans-serif;
    background: url(https://img.freepik.com/premium-photo/white-paper-texture-background_33725-57.jpg?w=2000);

}

.container{
    display: flex;
    width: 800px;
    min-height: 550px;
    border: 5px solid black;
    margin: 0 auto;

}

.image-block{
    display: flex;
    width: 50%;
    height: 550px;
    background: url('https://i.pinimg.com/736x/6e/21/cb/6e21cb4ec59a43a660727a534b2dd762--cat-art-coffee-and-books.jpg') no-repeat center center / cover;
}

h2{
    font-size: 40px;
    font-weight: bold;
}

p{
    font-size: 24px;
}

.title-block{
    width: 50%;
    height: 550px;

}

.header{
    display: flex;
    border: 20px;
    background-color: #101010

}

.navigation{
    display: flex;
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 20px;
    background-color: #101010;
    text-decoration: none;
    font-weight: bold;
    transition: background .4s ease;
}

.navigation a li{
    vertical-align: middle;
    display: flex;
    font-size: 20px;
    color: white;


}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.image-about-block{
    display: flex;
    width: 50%;
    height: 550px;
    background: url('https://gas-kvas.com/uploads/posts/2023-02/1675625220_gas-kvas-com-p-zhivotnie-s-knigoi-risunok-13.jpg'
    ) no-repeat center center / cover;
}

.contacts a{
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}
